/* CSS configuration for the document */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 20px;
    /* background-image: url('../img/pexels-element-digital-1293261.jpg');
    background-size: cover; */
}
.main {
    flex: 1 0 auto;
}
/* Trick to enable transparency in the background image only. See details in https://coder-coder.com/background-image-opacity/ */
.main::before {  
    content: "";
    background-image: url('../img/kindpng_811338.png');
    background-size:contain;
    /* background-repeat: no-repeat; */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -10;
}

h1, h5 {
    position: relative;
    color: #273b87;
    text-align: center;
}
p {
    background-color: #efece9;
    border-radius: 4px;
    padding-left: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.card {
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

.card-header:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid floralwhite;
}
.card-body {
    min-height: 160px;
}
.card-footer {
    padding-bottom: 0px;
}
footer {
    flex-shrink: none;
    text-align: center;
}
